[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
orqviz = "*"
qiskit-machine-learning = {extras = ["torch", "torchvision"], version = "*"}
qiskit-ibm-runtime = "*"
python-dotenv = "*"
torch = "<=1.11.0"
scikit-learn = "*"
torchvision = "*"
qiskit = {extras = ["visualization"], version = "*"}
pandas = "*"
torchsummary = "*"
qiskit-aer = "*"

[dev-packages]
autopep8 = "*"
ipykernel = "*"
jupyter = "*"
jupyterlab = "*"
appnope = "*"

[requires]
python_version = "3.10"
